* {
  padding: 0;
  margin: 0;
}
:root {
  --color-white: #fff;
  --color-dark1: #272727;
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;  
  --color-primary: #006400;  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
}

a {
  transition: 0.3s;
  color: var(--color-white);
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-dark2);
  height: 10vh;
  box-shadow: 1px 1px 4px var(--color-dark4);
  
}

main {
  background-size: cover;
  height: 92vh;
}

@media (max-width:999px) {
  body {
    overflow-x: hidden;
  }
}


